html{
	box-sizing: border-box;
}
*,*:after,*:before{
	box-sizing: inherit;
}

header{
	background-color: #A93226;
	display: flex;
	justify-content: center;
}
header nav{
	width: 90%;
	padding:1rem 0rem;
}
header nav h1{
	color:#fff;
	font-size: 2rem;
	font-family: "Oswald",sans-serif;
	text-transform: uppercase;
}

header nav ul{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}
header nav ul li{
	display: block;
}
header nav ul li a{
	font-family: "Oswald",sans-serif;
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5rem;
}
main{
	width: 90%;
	padding: 4rem 0rem;
	display: flex;
	flex-flow: row;
	align-items: top;
	margin:0 auto;
}
main div{
	display: flex;
}
.boxForm{
	width: 50%;
	margin:0 auto;
}
.boxForm form {
	width: 70%;
	border: 1px solid #000;
}
.boxForm form .screen{
	width: 100%;
	padding: 2rem;
}
.grayB{
	background-color:#D35400;
	border: 1px solid #6E2C00;
}
.boxForm form input[type="button"]{
	width: 33.3333%;
	font-size: 2rem;
	float:left;
	display: block;
	
	color:#fff;
	padding: 1rem;
	font-family: "Roboto",sans-serif;
}
.pad,.pad2{
	background-color:#2B2D2E;
	color:#fff;
	border:1px solid #000;
}
.pad2{
	width: 50%!important;
}
.equal{
	width: 100%!important;
	background-color: #A93226;
	color:#fff;

	border: none;
}
.tables{
	width: 50%;
	height: 50vh;
	overflow-y: scroll;
}
.column{
	text-align: center;
	font-family: "Roboto",sans-serif;
}
.column ul li{
	padding: 0.8rem;
	font-size: 1.5rem;
	border: 1px solid #000;
}