html{
	box-sizing: border-box;
}
*,*:after,*:before{
	box-sizing: inherit;
}

header{
	background-color: black;
	display: flex;
	justify-content: center;
}
header nav{
	width: 80%;
	padding:2rem 0rem;
}
header nav h1{
	color:#fff;
	font-size: 2rem;
	font-family: "Oswald",sans-serif;
	text-transform: uppercase;
}
main{
	padding: 4rem;
	display: flex;
	flex-flow: row;
	align-items: center;
}
main div{
	display: flex;
	justify-content: center;
}
.boxForm{
	width: 50%;
	margin:0 auto;
}
.boxForm form {
	width: 70%;
	border: 1px solid #000;
}
.boxForm form .screen{
	width: 100%;
	padding: 2rem;
}
.boxForm form input[type="button"]{
	width: 32.6%;
	font-size: 2rem;
	padding: 1rem;
	font-family: "Roboto",sans-serif;
}
.pad2{
	width: 49.5%!important;
}
.equal{
	width: 100%!important;
	background-color: #A93226;
	color:#fff;

	border: none;
}
.tables{
	width: 50%;
}
.column{
	text-align: center;
	font-family: "Roboto",sans-serif;
}
.column ul li{
	padding: 1rem;
	font-size: 1.7rem;
	border: 1px solid #000;
}